
{
    "DbPassword": "<DbPassword>",
    "DbUser": "<DbUser>",
    "DbHost": "<DbHost>",
    "DbPort": "<DbPort>",
    "KafkaHost": "<KafkaHost>",
    "KafkaPort": "<KafkaPort>",
    "KafkaTopic": "<KafkaTopic>"
}
